* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 640px;
    grid-column: 2/3;
    margin: 1 rem;
}

h1 {
    border-bottom: 1px solid #333;
    color: steelblue;
    padding: .5rem
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    margin: 10px;
    border: 20px;
    padding: 12px;
    background-color: rgb(204, 198, 198);
    color: black;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}