* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    padding: .5rem
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    margin: 10px;
    border: 20px;
    padding: 12px;
    background-color: rgb(204, 198, 198);
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}